.vscode
.vscode/
settings.json
node_modules
dist
build
.DS_Store
.env
.env.local
.env.*.local
.idea
*.log
*.lock
*.tsbuildinfo
*.cache
*.tmp
*.bak
*.swp
*.swo
*.zip
*.tar.gz
*.rar
*.7z
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt