* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--color-black);
}

:root {
    --color-black: #0e1119;
    --color-green-dark: #384D48;
    --color-green-light: #ACAD94;
    --color-gray-dark: #6E7271;
    --color-gray-mid: #D8D4D5;
    --color-gray-light: #E2E2E2;
}

/* Utils */

.button {
    background-color: var(--color-green-light);
    padding: 0.5rem 1rem;
    border-radius: 7.5px;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--color-green-dark);
    color: var(--color-gray-light);
}

.container__section {
    text-align: center;
    padding: 1rem 0;
}

.container__section:nth-last-child(1) {
    padding: 0;
}

.section--light {
    background-color: var(--color-gray-light);
}

.section--dark {
    background-color: var(--color-green-light);
}

/* Container */

.container {
    display: grid;
    grid-template-areas:
        "hero"
        "skills"
        "about"
        "projects"
        "lenguages"
        "experience"
        "footer"
    ;
    grid-template-columns: 1fr;
}

/* Hero */

.hero__section {
    grid-area: hero;
}

.hero__section .intro {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#profile_img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--color-green-dark);
    position: relative;
    height: 5rem;
    box-shadow: 0 3px 7px 0px;
}

/* Navbar*/

.navbar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    background-color: var(--color-black);
    position: absolute;
    top: 5rem;
    left: -100%;
    width: 100%;
    padding: 1rem 0;
    overflow-y: auto;
    transition: left 0.3s;
}

.navbar__menu--visible {
    left: 0;
}

.navbar__menu__item {
    margin: 0 10px;
    width: max-content;
    padding: 0.5rem 0;
}

.navbar__menu__link {
    text-decoration: none;
    transition: 0.3s;
    color: var(--color-gray-light);
    font-weight: bold;
}

.navbar__menu__link--active {
    color: var(--color-green-dark);
    background-color: var(--color-gray-light);
    padding: 0.05rem 0.1rem;
}

.navbar__menu__link:hover {
    background-color: var(--color-green-light);
    padding: 0.2rem 0.5rem;
    color: var(--color-black);
}

.navbar__toggle {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.navbar__icons--novisible {
    display: none !important;
}

.navbar__toggle>*,
.navbar__logo {
    color: var(--color-gray-light);
}

/* Tecnologies */

.skills__section {
    grid-area: skills;
}

.skills-section-title {
    text-align: center;
    padding-top: 1rem;
    text-decoration: underline;
}

.skills-section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 1.5rem 0;
}

.skills__section__item {
    display: flex;
    margin: 0.5rem 0;
}

.skills__section__item * {
    padding: 0 0.5rem;
}

/* Education */

.about__section {
    grid-area: about;
}

.education-section-title {
    padding: 1rem;
    text-align: center;
    text-decoration: underline;
}

.education-section * {
    padding: 0.2rem;
}

.education-section div p:nth-child(2) {
    color: var(--color-gray-dark);
}

/* Projects */

.projects__section {
    grid-area: projects;
    text-align: center;
}

.cards__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1.5rem 0;

}

.card {
    background-color: var(--color-gray-light);
    width: 20rem;
    padding-bottom: 0.5rem;
    box-shadow: 0 0 10px -3.5px;
    /* eje-X eje-Y desenfoque expancion*/
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 1rem;
    overflow: hidden;
}

.card:hover {
    background-color: var(--color-gray-mid);
}

.card>img {
    width: 19.5rem;
    margin-top: 0.3rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    aspect-ratio: 2/1;
    object-fit: cover;
    transition: 0.3s;
}

.card>img:hover {
    scale: 1.1;
}

.card__text {
    text-align: start;
    padding: 0 0.5rem;
}

.card__text>* {
    padding: 0.25rem 0;
}

.card__text--row>* {
    margin-right: 0.5rem;
    display: inline;
}

.card__buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
}


/* Lenguages */

.lenguages__section {
    grid-area: lenguages;
    padding: 1rem 0;
}

.lenguages-section-title {
    padding: 1rem;
    text-align: center;
    text-decoration: underline;
}

.lenguages-section-container div {
    display: flex;
    padding: 0 1rem;
}

.lenguages-section-container div * {
    padding: 0.2rem;
}

.lenguages-section div p:nth-child(2) {
    color: var(--color-gray-dark);
    padding-left: 0.5rem;
}

/* Experience */

.experience__section {
    grid-area: experience;
    text-align: center;
    padding: 1rem 0;
}

.experience-section-title {
    text-decoration: underline;
}

.experience-section div {
    padding: 0.5rem 0;
}

/* Footer */

.footer__section {
    grid-area: footer;
    padding: 0;
}

.footer__section__develop {
    background-color: var(--color-green-dark);
}

.footer__section__develop>h3 {
    text-align: center;
    color: var(--color-gray-light);
}

@media screen and (min-width: 576px) {
    .container {
        display: grid;
        grid-template-areas:
            "hero hero"
            "skills skills"
            "about lenguages"
            "projects projects"
            "experience experience"
            "footer footer"
        ;
        grid-template-columns: 1fr 1fr;
    }

    .skills-section-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .experience__section {
        background-color: var(--color-green-light);
    }
}

@media screen and (min-width: 992px) {
    .container__section {
        padding: 0 10rem;
    }
    
    .navbar{
        position: static;
        display: flex;
        justify-content: space-around;
        padding: 0 10rem;
    }

    .navbar__menu {
        flex-direction: row;
        justify-content: flex-end;
        background-color: var(--color-green-dark);
        position: static;
    }

    .navbar__menu__link:hover {
        background-color: var(--color-green-dark);
        padding: 0;
        color: var(--color-black);
    }

    .navbar__toggle{
        display: none;
    }
}