* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--color-black);
}

:root {
    --color-black: #0e1119;
    --color-green-dark: #384D48;
    --color-green-light: #ACAD94;
    --color-gray-dark: #6E7271;
    --color-gray-mid: #D8D4D5;
    --color-gray-light: #E2E2E2;
}

/* Utils */

.button {
    background-color: var(--color-green-light);
    padding: 0.5rem 1rem;
    border-radius: 7.5px;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--color-green-dark);
    color: var(--color-gray-light);
}

.center_content {
    max-width: 1200px;
    margin: 0 auto;
}

.container__section {
    padding: 1rem 1rem;
    position: relative;
}

.container__section__title {
    text-align: center;
    padding: 1rem 0;
}

.section__title--box {
    border-radius: .45rem;
    width: 10rem;
    margin: 0 auto;
    padding: 1.5rem;
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: var(--color-gray-light);
}

.section__title--box>h2 {
    font-size: 1rem;
}

.section--light {
    background-color: var(--color-gray-light);
}

.section--dark {
    background-color: var(--color-green-light);
}

.container__section__text--secondary {
    color: var(--color-green-dark);
}

.container__section__link:hover .icono i,
.container__section__link:hover .texto {
    color: var(--color-gray-light);
}

/* Container */

.container {
    display: grid;
    grid-template-areas:
        "hero"
        "personal"
        "projects"
        "experience"
        "footer"
    ;
    grid-template-columns: 1fr;
}

/* Hero */

.hero__section {
    grid-area: hero;
    background: rgb(56, 77, 72);
    background: linear-gradient(193deg, rgba(56, 77, 72, 1) 0%, rgba(172, 173, 148, 1) 86%);
}

.hero__section .intro {
    width: 100%;
    height: 30vh;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro * {
    color: var(--color-black);
}

#profile_img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 0 0 10px 0px;
    border: solid 3px var(--color-gray-light);
    transition: 0.3s;
}

#profile_img:hover {
    border: solid 3px var(--color-gray-dark);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--color-green-dark);
    position: relative;
    height: 5rem;
    box-shadow: 0 3px 7px 0px;
    z-index: 3;
}

/* Navbar*/

.navbar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    background-color: var(--color-black);
    position: absolute;
    top: 5rem;
    left: -100%;
    width: 100%;
    padding: 1rem 0;
    overflow-y: auto;
    transition: left 0.3s;
}

.navbar__menu--visible {
    left: 0;
}

.navbar__menu__item {
    margin: 0 10px;
    width: max-content;
    padding: 0.5rem 0;
}

.navbar__menu__link {
    text-decoration: none;
    transition: 0.3s;
    color: var(--color-gray-light);
    font-weight: bold;
}

.navbar__menu__link--active {
    color: var(--color-green-dark);
    background-color: var(--color-gray-light);
    padding: 0.05rem 0.1rem;
}

.navbar__menu__link:hover {
    background-color: var(--color-green-light);
    padding: 0.2rem 0.5rem;
    color: var(--color-black);
}

.navbar__toggle {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.navbar__icons--novisible {
    display: none !important;
}

.navbar__toggle>*,
.navbar__logo {
    color: var(--color-gray-light);
}

/* Personal */

.personal__section {
    grid-area: personal;
    padding: 1.5rem;
}

.personal__section> .center_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* About */

.about__section {
    grid-area: about;
}

.about-section * {
    padding: 0.2rem;
}

.about-section-div {
    margin-bottom: 0.5rem;
}

/* Tecnologies */

.skills__section {
    grid-area: skills;
    margin: 1.5rem 0 0 0;
}

.skills-section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
    padding: 4.5rem 0 1.5rem 1.5rem;
    width: 20rem;
    border-radius: .45rem;
    /* border: .5rem solid var(--color-gray-mid); */
    height: 18.5rem;
    margin: 0 auto;
    background-color: var(--color-gray-light);
}

.skills__section__item {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
}

.skills__section__item * {
    padding: 0 0.5rem;
}

/* Education */

.education__section {
    grid-area: education;
    margin: 1.5rem 0 0 0;
}

.education-section-container {
    padding: 4.5rem 0 1.5rem 1.5rem;
    width: 20rem;
    border-radius: .45rem;
    /* border: .5rem solid var(--color-gray-mid); */
    max-height: 18.5rem;
    height: 18.5rem;
    margin: 0 auto;
    background-color: var(--color-gray-light);
}

.education-section-div {
    margin-bottom: 0.5rem;
}

/* Lenguages */

.lenguages__section {
    grid-area: lenguages;
    margin: 1.5rem 0 0 0;
}

.lenguages-section-container {
    padding: 4.5rem 0 1.5rem 1.5rem;
    width: 20rem;
    border-radius: .45rem;
    /* border: .5rem solid var(--color-gray-mid); */
    height: 18.5rem;
    margin: 0 auto;
    background-color: var(--color-gray-light);
}

.lenguages-section-container div {
    display: flex;
}

.lenguages-section-container div * {
    padding: 0.2rem;
}

.lenguages-section div p:nth-child(2) {
    color: var(--color-gray-dark);
    padding-left: 0.5rem;
}

/* Projects */

.projects__section {
    grid-area: projects;
    text-align: center;
}

.cards__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1.5rem 0;

}

.card {
    background-color: var(--color-gray-light);
    width: 20rem;
    padding-bottom: 0.5rem;
    /* eje-X eje-Y desenfoque expancion*/
    box-shadow: 0 0 10px -3.5px;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 1rem;
    overflow: hidden;
}

.card:hover {
    background-color: var(--color-gray-mid);
}

.card>img {
    width: 19.5rem;
    margin-top: 0.3rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    aspect-ratio: 2/1;
    object-fit: cover;
    transition: 0.3s;
}

.card>img:hover {
    scale: 1.1;
}

.card__text {
    text-align: start;
    margin: 1.25rem 0.5rem 0 0.5rem;
}

.card__text--description {
    height: 8rem;
}

.card__text--title {
    font-size: 1.25rem;
}

.card__text--subtitle {
    font-size: .875rem;
}

.card__text--normal {
    font-size: .75rem;
    margin-top: 1rem;
}

.card__text>* {
    padding: 0.25rem 0;
}

.card__text--row {
    height: 2.5rem;
}

.card__text--row>* {
    margin-right: 0.5rem;
    display: inline;
}

.card__buttons {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 0 0;
    padding: 0 0.5rem;
}

/* Experience */

.experience__section {
    grid-area: experience;
    text-align: center;
    padding: 1rem 0;
}

.experience-section div {
    padding: 0.5rem 0;
}

.experience__section__card {
    padding: 1.5rem;
    width: 20rem;
    border-radius: .45rem;
    /* border: .5rem solid var(--color-gray-mid); */
    margin: 0 auto;
    background-color: var(--color-gray-light);
}

.experience__section__card__head {
    display: flex;
    align-items: center;
}

.experience__section__card__head__img {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    width: 3rem;
}

.experience__section__card__head__text {
    margin-left: 1rem;
    text-align: start;
}

.experience__section__card__body {
    text-align: start;
    margin: 1rem 0 0 0;
}

/* Footer */

.footer__section {
    grid-area: footer;
    background-color: var(--color-green-dark);
    padding: 1.5rem 0;
}

/* .footer__section__develop {
    
} */

.footer__section__develop>h3 {
    text-align: center;
    color: var(--color-gray-light);
}

@media screen and (min-width: 576px) {
    .container {
        display: grid;
        grid-template-areas:
            "hero"
            "personal"
            "projects"
            "experience"
            "footer"
        ;
        grid-template-columns: 1fr;
    }

    .skills-section-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .experience__section {
        background-color: var(--color-green-light);
    }
}

@media screen and (min-width: 992px) {

    .navbar {
        position: static;
        display: flex;
        justify-content: space-around;
        padding: 0 10rem;
    }

    .navbar__menu {
        flex-direction: row;
        justify-content: flex-end;
        background-color: var(--color-green-dark);
        position: static;
    }

    .navbar__menu__link:hover {
        background-color: var(--color-green-dark);
        padding: 0;
        color: var(--color-black);
    }

    .navbar__toggle {
        display: none;
    }

    .skills-section-container {
        grid-template-columns: repeat(2, 1fr);
    }
}