*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Merienda', cursive;
}

#Hero-Section {
    background-image: url("../img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }

.hero-text{
    margin: 15% 0 0 5%;
}
  
#skills_img{
    width: 15rem;
    height: 15rem;
}

#portafolio_img{
    width: 100%;
    height: 85%;
}

#footericon{
    width: 2rem;
    height: 2rem;
}